/* Content */
.content-top {
    display: flex;
}

.content-top p {
    text-align: justify;
}

.content-top img {
    display: flex;
    justify-content: center;

    height: 30rem;
    width: auto;

    margin-left: 1rem;
    margin-bottom: 1rem;
}

@media(max-width: 1024px) {
    .content-top {
        flex-direction: column;
    }

    .content-top img {
        width: 100%;
        height: auto;

        margin: 0 0 1rem 0;
    }
}

/* Interações */

.interaction {
    cursor: pointer;
}

/* Image fluid */

.image-max-width {
    max-width: 100%;
}

/* Quiz */
.quiz{
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-bottom: 3rem;
}

.quiz-alternatives {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
}

.quiz-alternatives-answer {
    display: flex;
    align-items: center;
}

.quiz-alternative-button {
    cursor: pointer;

    margin-right: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;

    border: black solid 1px;
    border-radius: 0 1rem 0 1rem;

    font-weight: 700;
}

.quiz-select {
    display: flex;
    justify-content: flex-start;

    margin-bottom: 1rem;
}

.quiz-select-question-option {
    cursor: pointer;
    user-select: none;

    padding: 0rem 1rem;
    margin-right: 1rem;

    border: 1px solid black;
    border-radius: 1rem 0 1rem 0;
}

.quiz-select-question-option-active {
    background-color: #3991be;
}

.quiz-alternative-active {
    background-color: #00d921;
}

.quiz-alternative-wrong {
    background-color: rgb(206, 81, 81);
}

/* Toast de resposta */
.swal2-title, .swal2-html-container, .swal2-actions {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swal2-title {
    margin: 1rem 0 0 0 !important; 
    font-size: 2rem !important;

    color: black !important
}

.swal2-html-container {
    text-align: center !important;
    font-size: 1.5rem !important;

    color: black !important;
    font-weight: 700;
}

.swal2-actions button {
    font-size: 2rem !important;
    font-weight: 700 !important;
}

/* FadeIn */
.fade-in {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}