.questionnaire{
    border-width: 2px;
    border-style: solid;
    border-color: #d8d8d8;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    margin-bottom: 2em;
}
.form-check{
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content{
    margin-top: 3em;
    border-width: 2px;
    border-style: solid;
    border-color: #d8d8d8;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    margin-bottom: 2em;
}

.conteudo-gifs {
    width: 100%;
    height: auto;
}   