@media(max-width: 575px) {
    .energy-name {
        display: none;
    }
}

/* SOBRE */
.top-range-sobre {
    padding: 2rem;
    background-color: #F1FDEC;
}

/* SOLAR */
.top-range-solar {
    padding: 2rem;
    background-color: #ffd600;
}

/* EOLICA */
.top-range-eolica {
    padding: 2rem;
    background-color: #b7b7b7;
}

/* HIDRA */
.top-range-hidra {
    padding: 2rem;
    background-color: #1cb4d6;
}

/* MARE */
.top-range-mare {
    padding: 2rem;
    background-color: #0085ff;
}

.guia-conteudo-btn {
    cursor: pointer;
    user-select: none;
}

.guia-conteudo-btn i {
    color: black;
}

#energia-atual, #energia-anterior, #energia-proximo {
    color: black;
    font-weight: bold;
}