/* TEXTO GERAL */
.tp-rg-text {
    color: #000;
    font-weight: 700;
    font-size: 2rem;
}

/*
    GUIA TOP SIDE
*/

/* SOBRE */
.top-range-sobre {
    padding: 2rem 0;
    background-color: #F1FDEC;
}

/* SOLAR */
.top-range-solar {
    padding: 2rem 0;
    background-color: #ffd600;
}

/* EOLICA */
.top-range-eolica {
    padding: 2rem 0;
    background-color: #b7b7b7;
}

/* HIDRA */
.top-range-hidra {
    padding: 2rem 0;
    background-color: #1cb4d6;
}

/* MARE */
.top-range-mare {
    padding: 2rem 0;
    background-color: #0085ff;
}