/* ICONE GERAL */
.icon-material-geral {
    color: #000;
    font-size: 5rem;
}

/* IMGS GERAL */
.img-material-geral{
    width: 30rem;
    height: auto;
}

/* TAMANHO DA FONTE + COR PADRAO */
.text-material-geral {
    color: #000;
    font-size: 2rem;
}

/* AJUSTANDO PARA DEIXAR RESPONSIVO
@media screen and (max-width: px) {

}*/

/*
    CSS GERAL SLIDER MENU

    DI = DIREITA
    ES = ESQUERDA
*/

/* MARE */
.btn-m-mare-di {
    transition: .4s;
} .btn-m-mare-di:hover {
    color: #0085ff;
    padding-right: 2rem;
}

.btn-m-mare-es {
    transition: .4s;
} .btn-m-mare-es:hover {
    color: #0085ff;
    padding-left: 2rem;
}

/* EÓLICA */
.btn-m-eolica-di {
    transition: .4s;
} .btn-m-eolica-di:hover {
    color: #b7b7b7;
    padding-right: 2rem;
}

.btn-m-eolica-es {
    transition: .4s;
} .btn-m-eolica-es:hover {
    color: #b7b7b7;
    padding-left: 2rem;
}

/* SOLAR */
.btn-m-solar-di {
    transition: .4s;
} .btn-m-solar-di:hover {
    color: #ffd600;
    padding-right: 2rem;
}

.btn-m-solar-es {
    transition: .4s;
} .btn-m-solar-es:hover {
    color: #ffd600;
    padding-left: 2rem;
}

/* HIDRA */
.btn-m-hidra-di {
    transition: .4s;
} .btn-m-hidra-di:hover {
    color: #1cb4d6;
    padding-right: 2rem;
}

.btn-m-hidra-es {
    transition: .4s;
} .btn-m-hidra-es:hover {
    color: #1cb4d6;
    padding-left: 2rem;
}
