@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

/* Geral */
*{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white !important; 

    /*Disable selection*/
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;

    /*Disable draggable*/
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

header{
    background-color: turquoise;
    overflow: hidden;
}

header div h1{
    font-weight: 900;
    font-size: 2.3vw;
}

/* FakeNAVBAR e FakeFOOTER - Excluir depois */
.navbarFake{
    background-color: white;
    margin-top: 20px;
    height: 70px;
    overflow: hidden;
}

.footerFake{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0EBA9B;
}

.v-centering-child{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cartao h3{
    font-weight: 900;
    font-size: 18px;
}

.cartao p{
    text-align: justify;
    font-size: 16px;
}

.contatoImg img{
    height: 14vw;
}

.mgTextoBaixo{
    padding-bottom: 30px;
}

.mgTextoCima{
    padding-top: 30px;
}

/* Medias */
/* Acima de 768px */
@media(min-width: 768px) { 
    .cartao h3{
        font-size: 1.6vw;
    }
}

/*Abaixo de 1600px*/
@media(max-width: 1600px){
    .contatoImg img{
        height: 16vw;
    }
}

/*Abaixo de 1400px*/
@media(max-width: 1400px){
    .contatoImg img{
        height: 18vw;
    }
}

/*Abaixo de 988px*/
@media(max-width: 988px){
    .contatoImg img{
        height: 30vw;
    }
}

/*Abaixo de 700px*/
@media(max-width: 700px){
    .contatoImg img{
        height: 40vw;
    }
}