.footer-inner-container{
	max-width: 1170px;
	margin:auto;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
}

.footer-container{
	background-color: #25c656;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col ul{
	list-style: none;
}

.footer-col h4{
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #3DF00A;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 24px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #24262b;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #3DF00A;
}


@media(max-width: 767px){
  	.footer-col{
    	width: 50%;
    	margin-bottom: 30px;
	}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footer-bottom center{
	padding: 5px;
	font-size: 0.9375rem;
}

.footer-bottom center span{
    color:#ffffff;
}

.footer-bottom center a:hover{
	color: #24262b;
}

.footer-bottom center a{
	color: #ffffff;
	text-decoration: none;
}

.footer-bottom{
	padding-top: 50px;
}
  


