@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

/* Geral */
*{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
    /* Scroll bar */
    overflow: hidden;
}

body{
    background-color: #58EE9D !important; 

    /*Disable selection*/
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;

    /*Disable draggable*/
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* FakeNAVBAR e FakeFOOTER - Excluir depois */
.navbarFake{
    background-color: white;
    margin-top: 20px;
    height: 70px;
}

.footerFake{
    margin: auto;
    background-color: #0EBA9B;
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Titulos principais */
#tituloCimaDestaque{
    color: #fff;
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: -10vw;
}

#tituloDestaqueCima{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16vw; /*Aprox 165px*/
    margin-bottom: -8vw;
    color: #000;
}

#tituloDestaqueBaixo{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12.8vw; /*Aprox 135px */
    color: #000;
}

#tituloEscolhaConteudo{
    color: #fff;
    font-weight: bold;
    font-size: 3.26vw;
}

/* Botoes de conteudo */
.btnConteudo{
    text-decoration: none;
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 2.34vw;
    width: 33vw !important;
}

.btnConteudo:hover{
    color: black;
}

#btnSolar{
    background-color: #FFD600;
}

#btnHidra{
    background-color: #1CB4D6;
}

#btnEolica{
    background-color: #B7B7B7;
}

#btnMare{
    background-color: #0085FF;
}

/* Home Icons */
.homeIcons{
    width: 18.2vw; /*18.2 vw - aprox 280px*/
    height: auto;
}

/* Medias */
/* Acima de 768px */
@media (min-width: 768px) { 
    /*Center the home page*/
    #mainScreen{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .btnConteudo{
        padding-top: 5px;
        padding-bottom: 5px;
        width: 20vw !important;
    }

    .homeIcons{
        width: 18.2vw; /*18.2 vw - aprox 280px*/
        height: auto;
    }
    
    #tituloCimaDestaque{
        font-size: 1.62vw;
        margin-bottom: -100px;
    }

    #tituloDestaqueCima{
        font-size: 8.6vw; /*Aprox 165px*/
        margin-bottom: -4.5vw;
    }

    #tituloDestaqueBaixo{
        font-size: 6.9vw; /*Aprox 135px */
    }

    #tituloEscolhaConteudo{
        font-size: 1.6vw;
    }
}

/* Abaixo de  576px*/
 @media(max-width: 576px){
    #mainScreen{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .btnConteudo{
        font-size: 4vw;
        width: 100% !important;
    }
} 