:root{
    font-size: 10px;
}

body{
    background-color: gray;
}

.navbar{
    margin-top: 2rem !important;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img{
    width: 8rem;
}

.navbar-brand h1 {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    font-size: 4rem;
}

.nav-link, .nav-item, .dropdown-item {
    font-family: 'Raleway' , sans-serif;
    font-size: 2rem;
}

.navbar-light .navbar-toggler {
    border: none;
    color: black; 
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


